<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food&Fitness</title>
    <!-- CDNS  -->
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
            href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/namirnice.css">

    <link rel="stylesheet" href="/stylesheets/dnevnik.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>

<body>

<header class="header">
    <nav id="header" class="navbar  navbar-expand-lg navbar-light  w-100 d-flex justify-content-lg-center m-0 p-0">
        <div class="navbar-brand m-0 py-2">
            <a href="/index"><img id="logo" class="nav__logo " src="/images/text.png" alt=""></a>
        </div>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
        </button>
        <ul class="nav__list collapse navbar-collapse d-lg-flex justify-content-lg-center pl-0"
            id="navbarNavAltMarkup">
            <div class="navbar-nav ">
                <li class="nav__list-item nav-item nav-link ml-0 pl-0">
                    <a class="nav__anchor-link" href="/namirnice">Namirnice</a>

                </li>
                <li class="nav__list-item nav-item nav-link "><a class="nav__anchor-link"
                                                                 href="/dnevnik">Dnevnik</a></li>
                <li class="nav__list-item nav-item nav-link active"><a class="nav__anchor-link"
                                                                       href="/kalkulator">Kalkulator</a></li>

            </div>
        </ul>
    </nav>

</header>

<main class="mt-5 pt-5">
    <section class="mt-5 py-5 d-flex justify-content-center align-items-center flex-column">
        <h1>Dnevnik</h1>
        <span>Ovde možete voditi dnevnik vaših obroka svakoga dana i imati uvid u količinu kalorija koje ste uneli
                tog dana </span>
    </section>

    <section class="mx-5">

        <table id="unesi-obrok" class="unesi__obrok my-5">

            <tr>
                <form action="/dnevnik/dodaj" method="post">
                    <td><input type="text" placeholder="Ime Obroka" class="form-control" name="imeO"></td>
                    <td>

                        <div class="dropdown">
                            <a type="button" id="dropdownMenuButton" data-toggle="dropdown">
                                <i class="fas fa-plus-circle"></i> Vrsta Obroka
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"  >
                                <label for="1" class="ml-4 mr-2">Dorucak</label><input type="radio" id="1"  name="option" href="#"><br>
                                <label for="2" class="ml-4 mr-2">Rucak</label><input type="radio" id="2"
                                                                                     name="option" href="#"><br>
                                <label for="3" class="ml-4 mr-2">Vecera</label><input type="radio" id="3"
                                                                                      name="option" href="#"><br>
                                <label for="4" class="ml-4 mr-2">Pre-Workout</label><input type="radio" id="4"
                                                                                           name="option" href="#"><br>
                                <label for="5" class="ml-4 mr-2" mr-1>Post-Workout</label><input type="radio" id="5"
                                                                                                 name="option" href="#">
                            </div>
                        </div>
                    </td>
                    <td><input type="number"  class="form-control calories" placeholder="Broj kalorija"
                               min="1" name="cal"></td>
                    <td><input type="date" name="datum" class="form-control" id="" placeholder="Datum"></td>
                    <td><input type="submit" value="Dodaj" class="form-control btn btn-light"></td>
                </form>
            </tr>
        </table>

    </section>
    <div class="d-flex justify-content-between px-5">
        <b>
            Ove Nedelje
        </b>
        <%var zbir=0;
        var inX;
        for ( var u =0; u <nedelja.length; u++){
            inX=0;
            for ( var k =0; k<nedelja[u].obroci.length; k++){

                inX= inX+ parseInt(nedelja[u].obroci[k].kalorije);
            }
            zbir=zbir+inX;
        }%>
        <b><%=zbir%>kcal</b>

    </div>
    <section class="mx-5 my-2">

        <%for ( var i =0; i <nedelja.length; i++){ %>

        <table class="table mb-5">
            <thead class="thead-green ">
            <tr>
                <%
                    var datum=new Date(nedelja[i]);
                    var month = datum.getMonth() + 1; //months from 1-12
                    var day = datum.getDate();
                    var year = datum.getFullYear();
                %>
                <th scope="col"><%=day+"/"+month+"/"+year%></th>
                <th class=""></th>
                <th></th>
                <%
                    var x=0;
                    for ( var k =0; k<nedelja[i].obroci.length; k++){

                   x=x+ parseInt(nedelja[i].obroci[k].kalorije);
                }%>
                <th scope="" class="justify-content-end d-flex">Total: <%=x%>kcal</th>

            </tr>
            </thead>
            <tbody class="bg-light">
            <%for ( var j =0; j <nedelja[i].obroci.length; j++){ %>
            <tr>

                <td><%=nedelja[i].obroci[j].ime_obroka%></td>
                <td>vrsta</td>
                <td><%=nedelja[i].obroci[j].kalorije%>kcal</td>
                <td class="justify-content-end d-flex ml-0 pl-0">
                    <a href="/dnevnik/obrisi/<%=nedelja[i].obroci[j]._id%>" class="pl-3"> <i class="fas fa-trash text-success"></i></a>
                </td>
            </tr>
            <%}%>

            </tbody>
        </table>


        <%}%>
    </section>
</main>

<footer>
    <div class="row  m-0 p-5">
        <div class="container d-flex justify-content-center">
            <span>Copyright &copy; 2021 Food&Fitness Inc. Sva prava zadržana.</span>
        </div>
    </div>
</footer>

<script src="/javascripts/formToggle.js"></script>
<script src="/javascripts/search.js"></script>
<!-- CDNS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js
        "></script>
</body>

</html>